@import '~mdb-ui-kit/css/mdb.min.css';

.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

.download {
  margin-left: 85%;
}

.slogan {
  margin-left: 20%;
  font-size: large;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link{
  color: white;
  font-size: large;
  font-weight: bold;
}

#cart{
  color: black;
  margin-left: 900px;
}