<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover Produto</title>
</head>

<body>
    <h1>Remover Produto</h1>
    <form method="POST">
        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" name="categoria"><br><br>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br><br>

        <input type="submit" value="Remover Produto">
    </form>
</body>

</html>